<!-- Coluna Esquerda (Links e Professor) -->
<div class="col-3 sombra p-5 mb-5">
    <!-- Foto do Professor e Detalhes -->
    <div class="row">
        <div class="col-12 text-center">
            <img class="imagem-padrao" src="/images/<%= classe.professor.usuarioProfessor.imagem %>">
            <p class="texto"> <%= classe.professor.usuarioProfessor.nome %>, <%= classe.nome %> </p>
        </div>
    </div>
    <!-- Links -->
    <div class="row">
        <div class="offset-lg-3 col-9">
            <form action="/aluno/recados" method="POST">
                <img class="imagens-classe" src="/images/recados.png"> <button class="botao-link" type="submit"> Recados </button> <br> <br>
                <input type="hidden" value="<%= classe.id %>" name="idClasse">
            </form>

            <form action="/aluno/tarefas" method="POST">
                <img class="imagens-classe" src="/images/tarefas.png"> <button class="botao-link" type="submit"> Tarefas </button>  <br> <br>
                <input type="hidden" value="<%= classe.id %>" name="idClasse">
            </form>

            <form action="/aluno/notas" method="POST">
                <img class="imagens-classe" src="/images/notas.png"> <button class="botao-link" type="submit"> Notas </button>  <br> <br>
                <input type="hidden" value="<%= classe.id %>" name="idClasse">
            </form>

            <a class="texto-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true"
                aria-expanded="false">
                <img class="imagens-classe" src="/images/salas.png"> <button class="botao-link" type="submit"> Classes </button>
            </a>
            <div class="dropdown-menu">
                <% for(todasClasses of classes){ %>
                <form action="/aluno/acessarClasse" method="POST">
                    <button class="botao-link dropdown-item" type="submit"> <%= todasClasses.nome %> </button>
                    <input type="hidden" value="<%= todasClasses.id %>" name="idClasse">
                </form>
                <% } %>
            </div>

            <br> <br>

            <img class="imagens-classe" src="/images/inicioAluno.png"> <a class="botao-link" href="../aluno/inicio"> Início </a> <br> <br>

            <img class="imagens-classe" src="/images/opcoes.png"> <button class="botao-link" data-toggle="modal" data-target="#modal-sair-classe"> Opções </button>  
            
        </div>
    </div>
</div>

<section>
    <!-- Modal Sair de uma classe -->
    <div class="modal fade" id="modal-sair-classe" tabindex="-1" role="dialog" aria-labelledby="modal-adicionar-classe-titulo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-adicionar-classe-titulo"> Informações da Classe </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">        
                    <div class="row justify-content-center">
                        <div class="col-lg-8"> 
                            <form id="formSairClasse" action="/aluno/excluirClasse" method="POST">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <p class="texto"> <%= classe.nome %> </p> <br>
                                        <p class="texto"> Código: <%= classe.codigo %> </p> <br>
                                        <input type="hidden" class="form-control" value="<%= classe.id %>" name="idClasse">
                                        <button type="submit" class="botao-fechar"> Sair da Classe </button>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="botao-fechar" data-dismiss="modal"> Fechar </button>
                                </div>
                            </form>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>

    <!-- Modal confirmar sair da classe -->
    <div class="modal fade" id="modal-confirmar-sair-classe" tabindex="-1" role="dialog" aria-labelledby="modal-adicionar-classe-titulo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-adicionar-classe-titulo"> Aviso </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">        
                    <div class="row justify-content-center">
                        <div class="col-lg-8"> 
                            <p class="texto"> Você tem certeza que deseja sair da classe? </p>
                        </div>
                    </div>            
                </div>
                <div class="modal-footer">
                    <button id="confirmarSairClasse" type="submit" class="botao-enviar"> Confirmar </button>
                    <button type="button" class="botao-fechar" data-dismiss="modal"> Cancelar </button>
                </div>
            </div>
        </div>
    </div>
</section>