<!-- Coluna Esquerda (Links e Professor) -->
<div class="col-3 sombra p-5 mb-5">
    <!-- Foto do Professor e Detalhes -->
    <div class="row">
        <div class="col-12 text-center">
            <img class="imagem-professor" src="/images/professor.ico">
            <p class="texto"> <%= classe.professor.usuarioProfessor.nome %>, <%= classe.nome %> </p>
        </div>
    </div>
    <!-- Links -->
    <div class="row">
        <div class="offset-3 col-9">
            <form action="/aluno/recados" method="POST">
                <img class="imagens-classe" src="/images/recados.png"> <button class="botao-link" type="submit"> Recados </button> <br> <br>
                <input type="hidden" value="<%= classe.id %>" name="idClasse">
            </form>

            <form action="/aluno/tarefas" method="POST">
                <img class="imagens-classe" src="/images/tarefas.png"> <button class="botao-link" type="submit"> Tarefas </button>  <br> <br>
                <input type="hidden" value="<%= classe.id %>" name="idClasse">
            </form>

            <form action="/aluno/notas" method="POST">
                <img class="imagens-classe" src="/images/notas.png"> <button class="botao-link" type="submit"> Notas </button>  <br> <br>
                <input type="hidden" value="<%= classe.id %>" name="idClasse">
            </form>

            <a class="texto-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true"
                aria-expanded="false">
                <img class="imagens-classe" src="/images/salas.png"> <button class="botao-link" type="submit"> Classes </button>
            </a>
            <div class="dropdown-menu">
                <% for(todasClasses of classes){ %>
                <form action="/aluno/acessarClasse" method="POST">
                    <button class="botao-link dropdown-item" type="submit"> <%= todasClasses.nome %> </button>
                    <input type="hidden" value="<%= todasClasses.id %>" name="idClasse">
                </form>
                <% } %>
            </div>
        </div>
    </div>
</div>