<!-- Coluna Esquerda (Links e Professor) -->
<div class="col-3 sombra p-5 mb-5">
    <!-- Foto do Professor e Detalhes -->
    <div class="row">
        <div class="col-12 text-center">
            <img class="imagem-professor" src="/images/<%= usuario.imagem %>">
            <br>
            <p class="texto"> <%= usuario.name %> </p>
            <p class="texto" style="margin-top: -12px;"> <%= acessarClasse.nome %> </p>
        </div>
    </div>
    <!-- Links -->
    <div class="row">
        <div class="offset-lg-3 col-9">
            <nav id="menu-left">
                <ul class="nav flex-column">
                    <!-- Recados -->
                        <a class="texto-link nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            <img class="imagens-classe" src="/images/recados.png" alt="icone recados"> <button class="botao-link" type="submit"> Recados </button>
                        </a>
                        <div class="dropdown-menu">
                            
                            <form action="/professor/recados" method="GET">
                                <button class="botao-link dropdown-item" type="submit"> Recados </button>
                                <input type="hidden" value="<%= acessarClasse.id %>" name="id_classe">
                            </form>
                            <form action="/professor/criar-recado" method="GET">
                                <button class="botao-link dropdown-item" type="submit"> Criar Recados </button>
                                <input type="hidden" value="<%= acessarClasse.id %>" name="id_classe">
                            </form>
                            <form action="/professor/apagar-recado"method="GET">
                                <button class="botao-link dropdown-item" type="submit"> Apagar Recados </button>
                                <input type="hidden" value="<%= acessarClasse.id %>" name="id_classe">
                            </form>
                            <form action="/professor/editar-recado" method="GET">
                                <button class="botao-link dropdown-item" type="submit"> Editar Recados </button>
                                <input type="hidden" value="<%= acessarClasse.id %>" name="id_classe">
                            </form>
                        </div>
                        <p></p>
                    <!-- Tarefa -->
                    <form action="/professor/tarefa" method="POST" style="margin-left: 16px; margin-top: -12px;">
                        <img class="imagens-classe" src="/images/tarefas.png"> <button class="botao-link" type="submit"> Tarefas </button>
                        <input type="hidden" value="<%= acessarClasse.id %>" name="id_classe">
                    </form>

                    <!-- Gerenciar -->
                    <form action="/professor/gerenciar-aluno" method="GET" style="margin-left: 16px; margin-top: 12px;">
                        <img class="imagens-classe" src="/images/criar-icon.png" alt="icone notas"> <button class="botao-link" type="submit"> Gerenciar aluno </button>
                        <input type="hidden" value="<%= acessarClasse.id %>" name="id_classe">
                    </form>
                      <!-- Gerenciar Notas -->
                      <form action="/professor/gerenciar-nota" method="GET" style="margin-left: 16px; margin-top: 12px;">
                        <img class="imagens-classe" src="/images/notas.png" alt="icone notas"> <button class="botao-link" type="submit"> Gerenciar Notas </button>
                        <input type="hidden" value="<%= acessarClasse.id %>" name="id_classe">
                    </form>
                        
                    <!-- Salas -->
                    <li class="nav-item">
                        <a class="texto-link nav-link" href="/professor/inicio">
                            <img src="/images/salas.png" alt="icone recados" class="imagens-classe"> Classes
                        </a>
                    </li>


                </ul>
            </nav>
        </div>
    </div>
</div>