<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Icone da página -->
    <link rel="sortcut icon" href="images/icone.png" type="image/x-icon" />
    <title> Educatella </title> 
    <!-- css externos -->
    <link href="/stylesheets/dist/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/dist/header.css" rel="stylesheet">
    <link href="/stylesheets/dist/notasAlunos.css" rel="stylesheet">
    <!-- links de fontes google (Baloo Da 2, Pangolin e Poppins)-->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header da Página -->
    <%- include('../partials/header') %>
    <main>
        <div class="container-fluid">
            <div class="row">
                <!-- Coluna Esquerda (Links e Professor) -->
                <%- include('../partials/aluno-left') %>
                <!-- Coluna Direita -->
                <div class="offset-1 col-8 sombra p-5 mb-5">
                    <div class="row mb-4">
                        <div class="col-12 text-center">
                            <p class="titulo-geral"> Notas em <%= classe.nome %> </p>
                        </div>
                    </div>
                    <!-- Linha e Coluna Gerais -->
                    <div class="row">
                        <div class="offset-1 col-10 shadow-sm">
                            <div class="row">
                                <!-- Coluna das tarefas -->
                                <div class="col-8 text-center">
                                    <p class="body-text-titulo"> Tarefa </p>
                                    <% for(tarefas of classe.tarefa){ %>
                                    <p class="body-text"> <%= tarefas.titulo %> </p>
                                    <% } %>
                                </div>
                                <!-- Coluna das notas -->
                                <div class="col-4 text-center">
                                    <p class="body-text-titulo"> Nota </p>
                                    <% for(tarefas of classe.tarefa){ %>
                                    <p class="body-text"> <%= tarefas.nota %> </p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Importando Jquery -->
    <script type="text/javascript" src="/vendor/jquery.min.js"></script>
    <!-- Importando Bootstrap JS -->
    <script type="text/javascript" src="/vendor/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/javascripts/src/main.js"></script>
</body>