<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Icone da página -->
    <link rel="sortcut icon" href="/images/icone.png" type="image/x-icon" />
    <title> Educatella </title> 
    <!-- css externos -->
    <link href="/stylesheets/dist/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/dist/header.css" rel="stylesheet">
    <link href="/stylesheets/dist/recadosAlunos.css" rel="stylesheet">
    <!-- links de fontes google (Baloo Da 2, Pangolin e Poppins)-->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header da Página -->
    <%- include('../partials/header-aluno') %>

    <main>
        <div class="container-fluid">
            <div class="row">
                <!-- Coluna Esquerda (Links e Professor) -->
                <%- include('../partials/aluno-left') %>
                <!-- Coluna Direita -->
                <div class="ml-5 col-8 sombra p-5 mb-5">
                    <div class="row mb-4">
                        <div class="col-12 text-center">
                            <p class="titulo-geral"> Recados de <%= classe.professor.usuarioProfessor.nome %> para você </p>
                        </div>
                    </div>
                    <!-- Linha de Aviso -->
                    <% for (recados of classe.recado) { %>
                    <div class="row mb-4">
                        <div class="offset-1 col-10 shadow-sm">
                            <div class="row">
                                <div class="col-3 informacao d-flex align-items-center">
                                    <div class="container">
                                        <!-- Data do Aviso -->
                                        <p class="texto-detalhes"> <%= recados.createdAt.toLocaleString('pt-BR') %> </p>
                                    </div>
                                </div>
                                <div class="offset-1 col-8">
                                    <div class="row">
                                        <!-- Texto do Aviso -->
                                        <div class="col-9">
                                            <p class="titulo"> <%= recados.titulo %>   </p>
                                        </div>
                                        <!-- Botão Leia Mais -->
                                        <div class="col-3">
                                            <a href="" class="texto-link" data-toggle="modal" data-target="#modal-adicionar-classe<%= recados.id_recados %>"> Leia Mais  </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </main>

    <% for (recados of classe.recado) { %>
    <section>
        <!-- Modal Adicionar Classe -->
        <div class="modal fade" id="modal-adicionar-classe<%= recados.id_recados %>" tabindex="-1" role="dialog" aria-labelledby="modal-adicionar-classe-titulo" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-adicionar-classe-titulo"> <%= recados.titulo %> </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">        
                        <div class="row justify-content-center">
                            <div class="col-lg-10"> 
                                <p class="texto"> <%= recados.descricao %> </p>
                            </div>
                        </div>            
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"> Fechar </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% } %>

    <!-- Importando Jquery -->
    <script type="text/javascript" src="/vendor/jquery.min.js"></script>
    <!-- Importando Bootstrap JS -->
    <script type="text/javascript" src="/vendor/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/javascripts/src/actions/logout.js"></script>
</body>