<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Icone da página -->
    <link rel="sortcut icon" href="/images/icone.png" type="image/x-icon" />
    <title> Educatella </title> 
    <!-- css externos -->
    <link href="/stylesheets/dist/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/dist/header.css" rel="stylesheet"> 
    <link href="/stylesheets/dist/tarefasAlunos.css" rel="stylesheet">
    <!-- links de fontes google (Baloo Da 2, Pangolin e Poppins)-->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header da Página -->
    <%- include('../partials/header-aluno') %>

    <main>
        <div class="container-fluid">
            <div class="row">
                <!-- Coluna Esquerda (Links e Professor) -->
                <%- include('../partials/aluno-left') %>
                <!-- Coluna Direita -->
                <div class="offset-1 col-8 sombra p-5 mb-5">
                    <div class="row mb-4">
                        <div class="col-12 text-center">
                            <p class="titulo-geral"> Tarefas de <%= classe.nome %> </p>
                        </div>
                    </div>
                    <% for (tarefa of tarefas) {%>
                    <!-- Linha de Tarefa -->
                    <div class="row mb-4">
                        <div class="offset-1 col-10 shadow-sm">
                            <div class="row">
                                <div class="col-lg-3 col-md-12 col-sm-12 informacao d-flex align-items-center">
                                    <div class="container">
                                        <input class="dataBanco" type="hidden" value="<%= tarefa.createdAt.toLocaleString('pt-BR') %>">
                                        <p class="texto-detalhes data"> </p>
                                    </div>
                                </div>
                                <div class="offset-1 col-8">
                                    <div class="row">
                                        <!-- Texto da Tarefa -->
                                        <div class="col-9">
                                            <p class="titulo"> <%= tarefa.titulo %>  </p>
                                        </div>
                                        <!-- Botão Leia Mais -->
                                        <div class="offset-sm-1 col-sm-2 col-3">
                                            <a href="" class="texto-link" data-toggle="modal" data-target="#modal-adicionar-classe<%= tarefa.id %>"> Leia Mais  </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </main>

    <% for (tarefa of tarefas) { %>
        <!-- Modal Adicionar Classe -->
        <div class="modal fade" id="modal-adicionar-classe<%= tarefa.id %>" tabindex="-1" role="dialog" aria-labelledby="modal-adicionar-classe-titulo" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-adicionar-classe-titulo"> <%= tarefa.titulo %> </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="formTarefa" action="/aluno/enviarTarefa" method="POST" enctype="multipart/form-data">
                        <div class="modal-body">     
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <input class="dataCriacaoBanco" type="hidden" value="<%=tarefa.createdAt%>"> 
                                    <p class="dataCriacao textoModal"> </p>
                                </div>
                                <div class="col-12"> 
                                    <input class="dataEntregaBanco" type="hidden" value="<%=tarefa.data_entrega%>">
                                    <p class="dataEntrega texto"> Data de Entrega: <%=tarefa.data_entrega%> </p>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-12"> 
                                    <p class="textoModal"> <%= tarefa.descricao %> </p>
                                </div>
                            </div>
                            
                            <div class="row mb-2 justify-content-center">
                                <div class="col-12"> 
                                    <% if(tarefa.arquivo != null){ %>
                                        <a class="texto-link" href="/uploads/<%=tarefa.arquivo%>" download="<%=tarefa.arquivo%>"> 
                                            <img id="imagemDownload" src="/images/download.png"> <%=tarefa.arquivo%> 
                                        </a> 
                                    <% } %>
                                </div>
                            </div>
                            <br>

                             <!--Arquivo--> 
                             <div class="divEnviarTarefa form-row justify-content-center">
                                <div class="custom-file col-10">
                                    <input type="file" id="inputArquivo" class="tarefaEnviada custom-file-input" accept="txt" id="validatedCustomFile"
                                        name="arquivo">
                                    <label id="botaoArquivo" class="custom-file-label" for="validatedCustomFile botaoArquivo" id="file-label">Escolher
                                        arquivo</label>
                                    <div class="invalid-feedback">Arquivo inválido</div>
                                </div>
                            </div>

                            <% let mensagem = ""; %>
                            <% if(tarefa.tarefasAlunos.length != 0){ %>

                                <% mensagem = "Você já enviou essa tarefa, se enviar novamente irá alterar a tarefa anterior"; %>

                            <% } %>

                            <div class="row mt-3 justify-content-center">
                                <div class="col-12 text-center"> 
                                    <p class="feedbackTarefa"> <%= mensagem %></p>
                                </div>
                            </div>

                            <input type="hidden" value="<%=classe.id%>" name="idClasse">
                            <input type="hidden" value="<%=tarefa.id%>" name="idTarefa">
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="botao-fechar" data-dismiss="modal"> Fechar </button>
                            <button type="submit" class="botao-enviar botao-enviar-tarefa"> Enviar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <% } %>

    <section>

        <!-- Modal Feedback Tarefa -->
        <div class="modal fade" id="modal-feedback-tarefa" tabindex="-1" role="dialog" aria-labelledby="modal-adicionar-classe-titulo" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-adicionar-classe-titulo"> Aviso </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">        
                        <div class="row justify-content-center">
                            <div class="col-lg-8"> 
                                <div class="row">
                                    <div class="col-12">
                                        <input id="feedbackEnviarTarefa" type="hidden" value="<%= feedbackTarefa %>">
                                        <p id="mensagemFeedbackEnviarTarefa" class="texto"> </p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="botao-fechar" data-dismiss="modal"> Fechar </button>
                                </div>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Importando Jquery -->
    <script type="text/javascript" src="/vendor/jquery.min.js"></script>
    <!-- Importando Bootstrap JS -->
    <script type="text/javascript" src="/vendor/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/javascripts/src/actions/logout.js"></script>
    <script type="text/javascript" src="/javascripts/dist/AlunoTarefas.js"></script>
    <script type="text/javascript" src="/javascripts/dist/AlunoAlterarDados.js"></script>
    <script type="text/javascript" src="/javascripts/dist/inputFileArquivo.js"></script>
</body>