<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta chartset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- css externos -->
    <link href="/stylesheets/dist/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/dist/header.css" rel="stylesheet">
    <link href="/stylesheets/dist/professor.css" rel="stylesheet" >
    <!-- links de fontes google (Baloo Da 2, Pangolin e Poppins)-->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Pangolin|Poppins&display=swap" rel="stylesheet">
    <!--link meterial icons + fontawesome-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">
</head>

<body>
    <!-- Header da Página -->
    <%- include('../partials/header-professor') %> 

    <main>
        <!-- Section engolba nav-left + mural de recados-->
        <section class="first-section">
            <div class="container-fluid">
                <div class="row">
                    <!-- Nav left -->
                    <%- include('../partials/professor-left') %> 
            
                                <!--Tabela-->
                                <div class="offset-1 col-8 sombra p-5 mb-5 bg-white rounded formulário-tarefa">
            
                                    <!--Título-->
                                    <h3 class="mb-5 form-tarefa-titulo">Excluir recado</h3>
            
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Título</th>
                                                <th scope="col">Descrição</th>
                                                <th scope="col">Excluir</th>
                                            </tr>
                                        </thead>
                                        <tbody>
            
                                            <% acessarClasse.recado.forEach(excluir => { %>
                                            <tr>
                                                <td>
                                                    <%= excluir.titulo %>
                                                </td>
                                                <td>
                                                    <%= excluir.descricao %>
                                                </td>
                                                <td class="Excluir">
                                                    <button class="icons-tabela" title="Settings" data-toggle="modal"
                                                        data-target="#excluirModal<%= excluir.id_recados %>" style="color: red;">
                                                        <span class="material-icons">
                                                            delete_forever
                                                        </span>
                                                    </button>
                                                </td>
                                            </tr>
            
                                            <% });%>
                                        </tbody>
            
                                    </table>
            
                                </div>
            
                   
                </div>
            </div>

        </section>


        <!-- Modal -->

          <!-- Modal excluir tarefa  -->
          <% for (acessarClasse of acessarClasse.recado) {%>
        <div id="excluirModal<%= acessarClasse.id_recados %>" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
    
                    <!--Header - titulo-->
                    <div class="modal-header">
                        <h4 class="modal-title">Excluir recado</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <bold>&times;</bold>
                        </button>
                    </div>
    
                    <form action="/professor/apagar-recado/<%=acessarClasse.id_recados%>" method="POST" class="formExcluir">
                        <input type="hidden" name="id_recados" value="<%= acessarClasse.id_recados %>">
                        <input type="hidden" name="id_classe" value="<%= acessarClasse.id_classe %>">
    
                        <div class="container">
                            <div class="form-control" style="border: none;">
                                <p>Deseja mesmo excluir esta classe?</p>
                            </div>
                        </div>
    
                        <div class="container">
                            <div class="feedbackExcluir">
                                <p></p>
                            </div>
                        </div>
                        <br>
                        <!--Footer - buttons alterar-->
                        <div class="modal-footer">
                            <button type="submit" class="btn-modal-excluir"> Excluir </button>
                        </div>
                    </form>
    
                </div>
            </div>
        </div>
        <%}%>







    </main>
    <script src="/javascripts/dist/profScript/profRecadoApagar.js"></script>
    <!-- Importando Jquery -->
    <script type="text/javascript" src="/vendor/jquery.min.js"></script>
    <!-- Importando Bootstrap JS -->
    <script type="text/javascript" src="/vendor/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/javascripts/src/actions/logout.js"></script>
    <script type="text/javascript" src="/javascripts/dist/ProfessorAlterarDados.js"></script>
</body>
</html>